| {% extends "emails/layout.html" %}
| {% block body %}

h1 Welcome to Blender Cloud!
section

	h2 Hi {{ user.full_name or user.email }},

	p.
		Thanks for joining Blender Cloud, the Open Content creation platform! Your subscription helps
		our team to create more Open Projects, training, services and of course to make Blender the best
		CG pipeline in the world. You rock!
	p.buttons
		a.button(href="{{ abs_url('cloud.login', next='/') }}", target='_blank') Explore Now >

	p.
		Here is a quick guide to help you get started with Blender Cloud.

	h2 Discover the Training Content

	p.
		Our high quality training is organised in #[a(href="{{ abs_url('cloud.courses') }}", target='_blank') Courses],
		where experienced trainers teach you step-by-step specific techniques, and
		#[a(href="{{ abs_url('cloud.workshops') }}", target='_blank') Workshops],
		where you get the feeling of peeking behind the shoulders of an artist explaining their creative workflow.
	h2 Try our Services
	p.
		Make sure you download the #[a(href="{{ abs_url('cloud.services') }}", target='_blank') Blender Cloud Add-on],
		so you can synchronize your Blender settings across multiple computers with
		#[a(href="https://cloud.blender.org/blog/introducing-blender-sync", target='_blank') Blender Sync],
		access our Texture and HDRI libraries directly within Blender, and much more.
	h2 Follow the Open Projects
	p.
		Follow #[a(href='https://cloud.blender.org/p/hero/') Hero] and
		#[a(href='https://cloud.blender.org/p/spring/') Spring], access exclusive making-of content and
		assets from our current and past
		#[a(href="{{ abs_url('cloud.open_projects') }}", target='_blank') Open Projects].
	h2 We are here for you
	p.
		Do you have any question about your subscription? Any suggestion on how to improve Blender Cloud?
		Just reply to this message or write us at
		#[a(href='mailto:cloudsupport@blender.org') cloudsupport@blender.org] – on working days we'll
		get back to you within a day.
	p
		| Cheers,
		br
		| Sybren and the Blender Cloud Team
	hr
	small.
		PS: If you do not want to receive other emails from us,
		#[a(href="{{ abs_url('settings.emails') }}") we've got you covered].

| {% endblock %}
