.DS_Store
.project
.coverage
*.pyc
__pycache__

/cloud/templates/
/cloud/static/assets/css/
/cloud/static/assets/js/bootstrap.min.js
node_modules/

/config_local.py

/build
/.cache
/*.egg-info/
/.eggs/
/dump/
/google_app*.json
/docker/2_buildpy/python/
/docker/4_run/wheelhouse/
/docker/4_run/deploy/
/celerybeat-schedule.bak
/celerybeat-schedule.dat
/celerybeat-schedule.dir
