.DS_Store
.project
.coverage
*.pyc
__pycache__

/cloud/templates/
node_modules/

/config_local.py

/build
/.cache
/*.egg-info/
/.eggs/
/dump/
/google_app*.json
/docker/2_buildpy/python/
/docker/4_run/wheelhouse/
