| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
include ../../../pillar/src/templates/mixins/components

| {% set title = 'learn' %}

| {% block page_title %}Learn{% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block body %}
.container.py-4
	.row
		.col-12
			h2.text-uppercase.font-weight-bold
				| Learn
			.lead
				| Production quality training by Blender professionals.

			hr.pb-2

	+category_list_item(
		'COURSES',
		'Character modeling, 3D printing, VFX, rigging and more.',
		"{{ url_for('cloud.courses') }}",
		"{{ url_for('static', filename='assets/img/features/training_motion_graphics.jpg')}}")

	hr

	+category_list_item(
		'WORKSHOPS',
		'Enter the artist workshop and learn by example.',
		"{{ url_for('cloud.workshops') }}",
		"{{ url_for('static', filename='assets/img/features/training_minecraft_animation.jpg')}}")

	hr

	+category_list_item(
		'PRODUCTION LESSONS',
		'Tips and tricks by the Open Projects crew.',
		"{{ url_for('cloud.production') }}",
		"{{ url_for('static', filename='assets/img/features/open_movies_02.jpg')}}")

| {% endblock body %}
