| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
| {% from '_macros/_opengraph.html' import opengraph %}
include mixins/components

| {% set title = 'learn' %}

| {% set page_title = 'Learn' %}
| {% set page_description = 'Production quality training by Blender professionals.' %}
| {% set page_header_image = url_for('static', filename='assets/img/features/training_minecraft_animation.jpg', _external=true) %}

| {% block page_title %}{{ page_title }}{% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block body %}
.container.py-4
	+category_list_header('{{ page_title }}', '{{ page_description }}', '{{ request.url }}')

	+category_list_item(
		'COURSES',
		'In-depth training on character modeling, 3D printing, rigging, VFX and more.',
		"{{ url_for('cloud.courses') }}",
		"{{ url_for('static', filename='assets/img/features/training_motion_graphics.jpg')}}")

	hr

	+category_list_item(
		'WORKSHOPS',
		'Enter the artist workshop and learn by example.',
		"{{ url_for('cloud.workshops') }}",
		"{{ url_for('static', filename='assets/img/features/training_minecraft_animation.jpg')}}")

	hr

	+category_list_item(
		'PRODUCTION LESSONS',
		'Tips and tricks by the Blender Open Movies crew.',
		"{{ url_for('cloud.production') }}",
		"{{ url_for('static', filename='assets/img/features/open_movies_02.jpg')}}")

| {% endblock body %}
