| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
| {% from '_macros/_opengraph.html' import opengraph %}
include mixins/components

| {% set title = 'libraries' %}

| {% set page_title = 'Libraries' %}
| {% set page_description = 'Download 1000s of files and assets.' %}
| {% set page_header_image = url_for('static', filename='assets/img/features/characters_01.jpg', _external=true) %}

| {% block page_title %}{{ page_title }}{% endblock %}

| {% block og %}
| {{ opengraph(page_title, page_description, page_header_image, request.url) }}
| {% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block body %}
.container.py-4
	+category_list_header('LIBRARIES', null)
		.lead
			| Browse Textures and HDRI directly from Blender with our #[a(href="/services#blender-cloud-add-on") Blender Cloud add-on]!

	+category_list_item(
		'TEXTURES',
		'More than 1500 texture maps. Public domain, do-whatever-you-like license.',
		"{{ url_for('projects.view', project_url='textures') }}",
		"{{ url_for('static', filename='assets/img/features/textures_01.jpg')}}")

	hr

	+category_list_item(
		'HDR IMAGES',
		'Up to 16K and 24 EVs (extremely high) HDRI to light your renders.',
		"{{ url_for('projects.view', project_url='hdri') }}",
		"{{ url_for('static', filename='assets/img/features/hdri_01.jpg')}}")


	.pt-5
		+category_list_header('HANDS-ON', 'Learn by example with ready-to-use characters and amazing artwork .blend files.')

	+category_list_item(
		'ART GALLERY',
		'Learn by example browsing the .blends files from the best community artwork.',
		"{{ url_for('projects.view', project_url='gallery') }}",
		"{{ url_for('static', filename='assets/img/features/training_bob_forest.jpg')}}")

	hr

	+category_list_item(
		'CHARACTERS',
		'Production quality, fully rigged and shaded characters ready to animate.',
		"{{ url_for('projects.view', project_url='characters') }}",
		"{{ url_for('static', filename='assets/img/features/characters_01.jpg')}}")
| {% endblock body %}

| {% block footer_scripts %}
script.
	$('.triplet-card').click(function(){
		window.location.href = $(this).attr('data-url');
	});
| {% endblock footer_scripts %}
