| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
include ../../../pillar/src/templates/mixins/components

| {% set title = 'libraries' %}

| {% block page_title %}Libraries{% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block body %}
.container.py-4
	.row
		.col-12
			h2.text-uppercase.font-weight-bold
				| Libraries
			.lead
				| Download 1000s of files and assets.

			hr.pb-2

	+category_list_item(
		'TEXTURES',
		'More than 1500 texture maps. Browse online or from Blender with our add-on.',
		"{{ url_for('projects.view', project_url='textures') }}",
		"{{ url_for('static', filename='assets/img/features/textures_01.jpg')}}")

	hr

	+category_list_item(
		'HDRI',
		'Up to 16K and 24 EVs (extremely high) HDR images to light your renders.',
		"{{ url_for('projects.view', project_url='hdri') }}",
		"{{ url_for('static', filename='assets/img/features/hdri_01.jpg')}}")

	hr

	+category_list_item(
		'CHARACTERS',
		'Production quality, fully rigged and shaded characters ready to animate.',
		"{{ url_for('projects.view', project_url='hdri') }}",
		"{{ url_for('static', filename='assets/img/features/characters_01.jpg')}}")

	hr

	+category_list_item(
		'ART GALLERY',
		'Learn by example.',
		"{{ url_for('projects.view', project_url='gallery') }}",
		"{{ url_for('static', filename='assets/img/features/training_bob_forest.jpg')}}")

| {% endblock body %}

| {% block footer_scripts %}
script.
	$('.triplet-card').click(function(){
		window.location.href = $(this).attr('data-url');
	});
| {% endblock footer_scripts %}
