| {% extends 'layout.html' %}
| {% from '_macros/_navigation.html' import navigation_homepage %}
| {% from '_macros/_opengraph.html' import opengraph %}
include mixins/components
include ../../../pillar/src/templates/mixins/components

mixin group(title, tag)
	.row(id=tag)
		section.py-4.my-3.border-bottom.col-12

			h4.title-underline.mt-2.mb-4
				a.text-muted(href="#" + tag)= title
			+card-deck(data-asset-tag=tag, class="js-asset-list p-3")

| {% set title = 'learn' %}

| {% set page_title = 'Production Lessons' %}
| {% set page_description = 'Tips and tricks by the Blender Open Movies crew.' %}
| {% set page_header_image = url_for('static', filename='assets/img/features/open_movies_02.jpg', _external=true) %}

| {% block page_title %}{{ page_title }}{% endblock %}

| {% block og %}
| {{ opengraph(page_title, page_description, page_header_image, request.url) }}
| {% endblock %}

| {% block navigation_tabs %}
| {{ navigation_homepage(title) }}
| {% endblock navigation_tabs %}

| {% block head %}
script(src="{{ url_for('static_cloud', filename='assets/js/tagged_assets.min.js') }}")

script.
	$(function() {
		let is_subscriber = {{ current_user.has_cap('subscriber')|string|lower }};
		$('.js-asset-list').loadTaggedAssets(8, 8, is_subscriber);
	});
| {% endblock %}
| {% block body %}
.container.py-4
	+category_list_header('{{ page_title }}', '{{ page_description }}')
	.row
		.col-12
			+group('Walk-through', 'walk-through')
			+group('Modeling', 'modeling')
			+group('Sculpting', 'sculpting')
			+group('Animation', 'animation')
			+group('Shading', 'shading')
			+group('Texturing', 'texturing')
			+group('Character Pipeline', 'character-pipeline')
			+group('Rigging', 'rigging')
			+group('Lighting & Rendering', 'lighting')
			+group('Simulation & Effects', 'effects')
			+group('Video Editing', 'video-editing')
			+group('Digital Painting', 'digital-painting')
			+group('Production Design', 'production-design')

			a.d-block.py-5.text-center.text-muted(
				href="{{ url_for('main.nodes_search_index') }}")
				| Search Blender Cloud to find even more content
				i.pi-angle-right.pl-1

| {% endblock body%}
