| {% extends 'layout.html' %}
| {% block page_title %}Terms and Conditions{% endblock %}
| {% block css %}
| {{ super() }}
style.
	#page-content {
	padding: 2% 20% !important;
	}
| {% endblock css %}
| {% block body %}
#page-container
	#page-content
		h1 Terms and Conditions
		p.
			The Blender Cloud (‘we’ or ‘us’, or ‘the Service’) is an open production funding/donation
			platform that offers access for registered members to project space and repositories of
			creative content and data. By registering as a member or by using the service in any way,
			you accept these Terms of Service ("Agreement"), which forms a binding agreement between you
			and the Blender Cloud. If you do not wish to be bound by this Agreement, do not use the
			Blender Cloud Service.
		p.
			Blender Cloud is an activity of Blender Institute B.V. - Entrepotdok 57A - 1018 AD Amsterdam
			- the Netherlands, contact: institute@blender.org.
		p.
			Blender Institute has been authorised by Stichting Blender Foundation to conduct these
			services on blender.org. Blender Institute is committed to comply to and support the goals of
			the public benefit free/open source project and community at blender.org.

		h2 Registration, the Blender ID
		p.
			By registration at the Blender Cloud, your email address will become the identification
			("Blender ID") for services on blender.org in general. Registration is free, and only
			requires a confirmation of the owner of the email address - by responding to an authentication
			email.
		p.
			Blender Cloud currently offers no additional services for Blender ID registrations. These
			might be offered later, and will always be approved by Blender Foundation and be offered
			as opt-in.

		h2 Badges: Supporters and Members
		p.
			After registration to the Blender Cloud, a user will get options to upgrade his account with
			a number of options. Currently these options are for supporting, crediting or membership. All
			options are called "Badges" - which will be used to show as a special property (icon) as part
			of your Blender ID - for these places at blender.org that support it (forums or reviews).
		p.
			The Membership Badge is based on a monthly subscription, which can be applied for via
			recurring payments or via a pre-payment. Members get access to all services of Blender Cloud,
			which includes previous Open Movies, Open Workshop videos and the current running Open
			Production. By keeping your membership active a user can earn a Credit Badge. Rules for this
				will be mentioned on the campaign page for an Open Production.
		p.
			The other Badges are sold as special 'funding perks' - such as access to a film download,
			an online screening or a film/website credit. A supporter can choose to claim a badge, and
			only agree to pay for it after the production campaign reached its funding limit.

		h2 Blender Cloud Membership fee
		p.
			To register and activate a membership an additional charge will apply, including a minimum of
			3 months of membership fees. Fees are: (Feb 23, 2014)
		p.
			45 euro (59 USD), membership registration, which includes 3 months Cloud membership.
			After that, 10 euro (13.50 USD), monthly membership fee

		h2 Refund policy
		p.
			Membership fees and supporter contributions are non-refundable. That money we really need to
			keep our services running, and to make open source and open content productions possible.
		p.
			We really care about our members and supporters though - in case you are really not happy
			with our Blender Cloud we will kindly respond to your comments and try to settle a dispute
			with you in harmony.
		p.
			Refunds will happen without delay when we get a report of fraud, abuse or non-authorised
			usage of funds.
		p Contact: cloudsupport@blender.org.

		h2 Blender Cloud Membership cancellation
		p.
			You may delete your account at any time via your personal account page, or by contacting us
			at cloudsupport@blender.org.
		p.
			In case of suspected fraud or abuse of the service after registration and membership payment,
				the account owner will be contacted and asked for clarification. Failure to alleviate
				charges of fraud may result in the termination of the member’s account.
		p.
			Upon termination, all licenses granted by the Blender Cloud will terminate. In the event of
			account deletion for any reason, content that you submitted may no longer be available.
			The Blender Cloud shall not be responsible for the loss of such content.

		h2 Blender Cloud licences
		p.
			Unless notified otherwise, all digital content (webpages, video, artwork, 3D data) is
			available under the Creative Commons Attribution 4.0.
		p.
			All software provided on Blender Cloud will be under a free and open license as recognised
				as such by the Free Software Foundation.
		p.
			Trademarks and logos - including the Blender logo - are copyrighted properties, with all
			rights reserved by its owners.

		h2 Indemnification
		p.
			You will indemnify, defend, and hold harmless the Blender Cloud and its affiliates, directors,
				officers, employees, and agents, from and against all third party actions that: arise from
				your activities on the Blender Cloud Service; assert a violation by you of any term of this
				Agreement; or assert that any content you submitted to the Blender Cloud violates any law or
				infringes any third party right, including any intellectual property or privacy right.

		h2 Availability of the service
		p.
			The Blender Cloud is not responsible for any damages resulting from the unavailability of
			the Service.

		h2 Modification
		p.
			This Agreement may not be modified except by a revised Terms of Service posted by the Blender
			Cloud on the Blender Cloud Site or a written amendment signed by an authorized representative
			of the Blender Cloud. A revised Terms of Service will be effective as of the date it is
			posted on the Blender Cloud Site.
		p.
			THE BLENDER CLOUD WILL NOT BE LIABLE FOR ANY LOSS OF INCOME, LOSS OF PROFITS, LOSS OF
			CONTRACTS, LOSS OF DATA OR FOR ANY INDIRECT, INCIDENTAL, EXEMPLARY, SPECIAL, PUNITIVE OR
			CONSEQUENTIAL LOSS OR DAMAGE OF ANY KIND HOWSOEVER ARISING AND WHETHER CAUSED BY TORT
				(INCLUDING NEGLIGENCE), BREACH OF CONTRACT, WARRANTY OR OTHERWISE. OUR MAXIMUM AGGREGATE
				LIABILITY UNDER THESE TERMS AND CONDITIONS WHETHER IN TORT (INCLUDING NEGLIGENCE) OR
					OTHERWISE SHALL IN NO CIRCUMSTANCES EXCEED YOUR ANNUAL MEMBERSHIP FEE.

		h2 Disputes
		p.
			These Terms and any Additional Terms are governed by and construed by the laws of the
			Netherlands exclusively. The parties agree that any disputes or proceedings between us
			and you concerning these Terms, any Additional Terms, and/or any of the Websites or Services
			shall be brought in a court of competent jurisdiction sitting in the Netherlands, and hereby
			consent to the personal jurisdiction and venue of such court.

| {% endblock body%}
