include ../../../../pillar/src/templates/mixins/components

| {% macro navigation_tabs(title) %}
+nav-secondary()
	+nav-secondary-link(href="{{ url_for('main.main_blog') }}")
		span Blog

	+nav-secondary-link(
			class="{% if title == 'dashboard' %}active{% endif %}",
			href="{{ url_for('projects.index') }}")
		span My Projects

	| {% if current_user.has_organizations() %}
	+nav-secondary-link(
			class="{% if title == 'organizations' %}active{% endif %}",
			href="{{ url_for('pillar.web.organizations.index') }}")
		span My Organizations
	| {% endif %}

	+nav-secondary-link(href="{{ url_for('projects.home_project_shared_images')}}")
		span Image Sharing
| {% endmacro %}
