//- Opengraph/Twitter cards for social media.

| {% macro opengraph(title, description, url_image, url_page) %}
meta(property="og:type", content="website")
meta(property="og:url", content="{{ url_page }}")

meta(property="og:title", content="{{ title }} on Blender Cloud")
meta(name="twitter:title", content="{{ title }} on Blender Cloud")

meta(property="og:description", content="{{ description }}")
meta(name="twitter:description", content="{{ description }}")

| {% if url_image %}
meta(property="og:image", content="{{ url_image }}")
meta(name="twitter:image", content="{{ url_image }}")
| {% endif %}
| {% endmacro %}
